<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{password_reset_mail_template_subject}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Żeby dokończyć resetowanie hasła, kliknij w poniższy link. Zostaniesz przekierowany/a do strony, gdzie będziesz
    mógł/a ustawić nowe hasło.
</p>
<br/>
<a th:href="${token_url}" th:text="${token_url}"></a>
<br/>
<p>Pamiętaj, link jest ważny tylko 24 godziny.</p>

</body>
</html>
