<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{verification_token_mail_template_subject}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Witaj,</p>
<p>
    na portalu pacjenta zostało założone dla Ciebie konto. Żeby potwierdzić rejestrację i uzyskać dostęp, kliknij w
    poniższy link.
</p>
<br/>
<a th:href="${token_url}" th:text="${token_url}"></a>
<br/>
<p>Pamiętaj, link jest ważny tylko 48 godzin.</p>
</body>
</html>
