<form name="form" class="form-validation form-horizontal" novalidate unsaved-changes-alert>

    <div ng-include="'app/examination/partials/correction_form.html'"></div>

    <div class="text-center p-a">
        <button class="btn btn-default font-bold" ng-disabled="corrections.length == 0" type="button"
                ng-really-message="{{ 'really_modify_correction_question' | translate }}"
                ng-really-click="modifyCorrection(corrections, form)">
            <i class="fa fa-check pull-right"></i> {{ 'submit' | translate }}
        </button>
    </div>
</form>