<div class="text-center p-a-md b-b b-dark">
    <h3 class="font-bold m-n">{{ 'create_new_correction' | translate }}</h3>
</div>
<div class="row-row">
    <div class="cell">
        <div class="cell-inner scrollable  p-a">
            <form name="form" class="form-validation form-horizontal" novalidate unsaved-changes-alert>

                <div ng-include="'app/examination/partials/correction_form.html'"></div>

                <div class="text-center">
                    <button class="btn btn-default font-bold m-t-lg" ng-disabled="corrections.length == 0" type="button"
                            ng-really-message="{{ 'really_create_correction_question' | translate }}"
                            ng-really-click="createCorrection(corrections, form)">
                        <i class="fa fa-check pull-right"></i> {{ 'submit' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
