<div id="patient_data_section" hidden class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading bg-light">
        <div class="hbox p-a-xs">
            <div class="col v-middle">
                <h3 class="m-n">{{ 'examination_print' | translate }}</h3>
            </div>
            <div class="col v-middle w-xs">
                <div class="img-rounded text-center b-a b-dark p-t-xs p-b-xs p-l-xs p-r-xs pull-right" style="border-width:2px; width: 79px">
                    <div class="h3 m-n font-bold">{{ examination.basicInformation.date | date:'dd'}}</div>
                    <small class="text-muted text-uppercase font-bold">{{ 'month.' + (examination.basicInformation.date | date:'MMM') | translate }}</small>
                    <div class="h4 m-n font-bold">{{ examination.basicInformation.date | date:'yyyy'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body p-n">
        <div class="hbox b-dark p-a-sm">
            <div class="col text-center v-middle">
                <h2 class="font-bold m-n">{{ patient.surname + ' ' + patient.firstname }}</h2>
            </div>
        </div>

        <div class="hbox b-t b-b b-dark p-a-sm h-auto">
            <div class="col v-middle b-r b-dark">

                <div class="hbox">
                    <div class="col v-middle w-xxxs text-center">
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col v-middle p-l-xs p-r-xs">
                        <small class="font-bold text-ellipsis m-n">
                            {{ patient.email ? patient.email : ('no_data' | translate) }}
                        </small>
                    </div>
                </div>

            </div>
            <div class="col v-middle p-l-sm p-r-sm">

                <div class="hbox">
                    <div class="col v-middle w-xxxs text-center">
                        <i class="fa fa-birthday-cake fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col v-middle p-l-xs p-r-xs">
                        <strong class="text-ellipsis h4 m-n">{{ patient.dateOfBirth | date:'dd.MM.yyyy' }}</strong>
                    </div>
                </div>

            </div>
        </div>

        <div class="hbox b-b b-dark p-a-sm h-auto">
            <div class="col v-middle b-r b-dark">

                <div class="hbox">
                    <div class="col v-middle w-xxxs text-center">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col v-middle p-l-xs p-r-xs">
                        <small class="text-ellipsis font-bold"
                               ng-if="patient.address.street || patient.address.houseNumber || patient.address.postalCode || patient.address.city">
                            {{ (patient.address.street ? patient.address.street : '') + ' ' +
                            (patient.address.houseNumber ? patient.address.houseNumber : '') }}
                            <br ng-if="patient.address.street || patient.address.houseNumber"/>
                            {{ (patient.address.postalCode ? patient.address.postalCode : '') + ' ' +
                            (patient.address.city ? patient.address.city : '') }}
                        </small>

                        <small class="text-ellipsis font-bold"
                               ng-if="!patient.address.street && !patient.address.houseNumber && !patient.address.postalCode && !patient.address.city">
                            {{ 'no_data' | translate }}
                        </small>
                    </div>
                </div>

            </div>
            <div class="col v-middle p-l-sm p-r-sm">

                <div class="hbox">
                    <div class="col v-middle w-xxxs text-center">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col v-middle p-l-xs p-r-xs">
                        <small class="font-bold text-ellipsis m-n">
                            {{ patient.phone ? patient.phone : ('no_data' | translate) }}
                        </small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="basic_data_section" class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading bg-light">
        <h3 class="panel-title text-center text-muted">{{ 'basic_data' | translate }}</h3>
    </div>
    <div class="panel-body p-n">
        <div class="hbox b-b b-dark">
            <div class="col b-r b-dark p-a">
                <h5 class="font-bold">{{ 'visit_reason' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.visitReason }}</div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">{{ 'other_ailments' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.otherAilments }}</div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col b-r b-dark p-a">
                <h5 class="font-bold">{{ 'vision_correction_history' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.visionCorrectionHistory }}</div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">
                    {{ 'last_examination_date' | translate }}
                    <i ng-if="examination.basicInformation.lastExaminationDateNote" tooltip-placement="left"
                       uib-tooltip="{{ examination.basicInformation.lastExaminationDateNote }}"
                       class="fa fa-sticky-note-o pull-right" aria-hidden="true"></i>
                </h5>
                <div ng-if="!examination.basicInformation.lastExaminationDate" class="text-muted">
                    {{ 'absent' | translate }}
                </div>
                <div ng-if="examination.basicInformation.lastExaminationDate"
                     class="img-rounded text-center b-a b-dark p-t-xs p-b-xs p-l p-r" tooltip-placement="top"
                     uib-tooltip="{{ examination.basicInformation.lastExaminationDate | date:'dd.MM.yyyy'}}"
                     style="border-width:2px; width: 65px; height: 65px;">
                    <div class="h3 m-n font-bold">{{ examination.basicInformation.lastExaminationDate | date:'dd'}}
                    </div>
                    <small class="text-muted text-uppercase font-bold">{{ 'month.' +
                        (examination.basicInformation.lastExaminationDate | date:'MMM')
                        | translate }}
                    </small>
                </div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col b-r b-dark p-a">
                <h5 class="font-bold">{{ 'eye_disease_history' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.eyeDiseaseHistory }}</div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">{{ 'eye_diseases.name' | translate }}</h5>

                <div ng-if="examination.basicInformation.eyeDiseases.length == 0" class="text-muted">{{ 'absent' |
                    translate }}
                </div>
                <div ng-if="examination.basicInformation.eyeDiseases.length != 0"
                     class="hbox b-dark b-b text-center text-muted p-t-sm p-b-sm"
                     ng-class="$index == 0 ? 'b-t' : '' " ng-repeat="row in examination.basicInformation.eyeDiseases">
                    <div class="col b-dark b-r p-l-sm p-r-sm">
                        {{ EYE_DISEASES.indexOf(row[0]) != -1 ? ('eye_diseases.examples.' + row[0] | translate) : row[0]
                        }}
                    </div>
                    <div class="col p-l-sm p-r-sm">
                        {{ EYE_DISEASES.indexOf(row[1]) != -1 ? ('eye_diseases.examples.' + row[1] | translate) : row[1]
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col b-r b-dark p-a">
                <h5 class="font-bold">{{ 'general_diseases.name' | translate }}</h5>

                <div ng-if="examination.basicInformation.generalDiseases.length == 0" class="text-muted">{{ 'absent' |
                    translate }}
                </div>
                <div ng-if="examination.basicInformation.generalDiseases.length != 0"
                     class="hbox b-dark b-b text-center text-muted p-t-sm p-b-sm"
                     ng-class="$index == 0 ? 'b-t' : '' "
                     ng-repeat="row in examination.basicInformation.generalDiseases">
                    <div class="col b-dark b-r p-l-sm p-r-sm">
                        {{ GENERAL_DISEASES.indexOf(row[0]) != -1 ? ('general_diseases.examples.' + row[0] | translate)
                        : row[0] }}
                    </div>
                    <div class="col p-l-sm p-r-sm">
                        {{ GENERAL_DISEASES.indexOf(row[1]) != -1 ? ('general_diseases.examples.' + row[1] | translate)
                        : row[1] }}
                    </div>
                </div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">{{ 'medications' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.medications }}</div>

            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col p-a">
                <h5 class="font-bold">{{ 'overall_health' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.overallHealth }}</div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col">
                <h5 class="font-bold p-t p-l m-b-n-xs">{{ 'no_correction_test' | translate }}</h5>

                <div class="hbox">
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 class="font-bold m-n">
                                    {{ examination.basicInformation.noCorrectionTest.visusOP }}
                                </h3>

                                <div class="text-muted font-bold">{{ 'visus_op' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 class="font-bold m-n">
                                    {{ examination.basicInformation.noCorrectionTest.visusOL }}
                                </h3>

                                <div class="text-muted font-bold">{{ 'visus_ol' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 class="font-bold m-n" ng-if="examination.basicInformation.noCorrectionTest.visusOU">
                                    {{ examination.basicInformation.noCorrectionTest.visusOU }}
                                </h3>
                                <h3 class="font-bold m-n" ng-if="!examination.basicInformation.noCorrectionTest.visusOU">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>


                                <div class="text-muted font-bold">{{ 'visus_ou' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col">
                <h5 class="font-bold p-t p-l m-b-n-xs">{{ 'amsler_test' | translate }}</h5>

                <div class="hbox">
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.basicInformation.amslerTestOP != null" class="font-bold m-n">
                                    <i ng-if="!examination.basicInformation.amslerTestOP" class="fa fa-minus" aria-hidden="true"></i>
                                    <i ng-if="examination.basicInformation.amslerTestOP" class="fa fa-plus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'op' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.basicInformation.amslerTestOL != null" class="font-bold m-n">
                                    <i ng-if="!examination.basicInformation.amslerTestOL" class="fa fa-minus" aria-hidden="true"></i>
                                    <i ng-if="examination.basicInformation.amslerTestOL" class="fa fa-plus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'ol' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox b-b b-dark">
            <div class="col b-dark b-r p-a">
                <h5 class="font-bold">{{ 'diagnosis' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.diagnosis }}</div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">{{ 'recommendations' | translate }}</h5>

                <div class="text-muted">{{ examination.basicInformation.recommendations }}</div>
            </div>
        </div>
        <div class="hbox">
            <div class="col p-a">
                <h5 class="font-bold">{{ 'notes' | translate }}</h5>

                <div class="text-muted">
                    {{ examination.basicInformation.notes ? examination.basicInformation.notes : ('absent' | translate)
                    }}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="correction_section" class="panel panel-default">
    <div class="panel-heading">
        <div class="hbox">
            <div class="col v-middle">
                <h3 class="panel-title text-center text-muted">{{ 'correction' | translate }}</h3>
            </div>
            <div class="col v-middle w-xxxs" ng-if="['CORRECTION'].indexOf(examination.type) != -1">
                <a type="button" uib-tooltip="{{ 'modify_correction' | translate }}" tooltip-placement="left"
                   class="btn btn-default btn-icon" ng-if="auth.hasAuthority('READ_WRITE')"
                   ui-sref="app.patient_card.examination.modify_correction">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-if="examination.corrections.length == 0">
        <div class="text-muted text-center">{{ 'absent' | translate }}</div>

    </div>
    <div class="list-group" ng-if="examination.corrections.length != 0">

        <div class="list-group-item" ng-repeat="correction in examination.corrections">
            <div class="hbox">
                <div class="col v-middle">
                    <h4 class="font-bold">{{ 'correction_category.values.' + correction.category | translate }}</h4>
                </div>
                <div class="col v-top w-xxxs" ng-if="examinationDataToCopy.corrections.indexOf(correction) == -1">
                    <button uib-tooltip="{{ 'to_copy' | translate }}" class="btn btn-default btn-icon" type="button"
                            tooltip-placement="left" ng-if="auth.hasAuthority('READ_WRITE')"
                            ng-click="examinationDataToCopy.corrections.push(correction)">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="list-group-item-text">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">{{ 'sf' | translate }}</th>
                            <th class="text-center">{{ 'cyl' | translate }}</th>
                            <th class="text-center">{{ 'axis' | translate }}</th>
                            <th class="text-center">{{ 'add' | translate }}</th>
                            <th class="text-center">{{ 'pd' | translate }}</th>
                            <th class="text-center">{{ 'pryzm' | translate }}</th>
                            <th class="text-center">{{ 'base' | translate }}</th>
                            <th class="text-center">{{ 'vd' | translate }}</th>
                            <th class="text-center" colspan="2">{{ 'visus' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="v-middle text-center font-bold">{{ 'op' | translate }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.sf > 0 ? '+' + (correction.opDesc.sf |
                                number:2) : (correction.opDesc.sf | number:2) }}
                            </td>
                            <td class="v-middle text-center">
                                <span ng-if="correction.opDesc.cyl != null">{{ correction.opDesc.cyl > 0 ? '+' + (correction.opDesc.cyl | number:2) : (correction.opDesc.cyl | number:2) }}</span>
                            </td>
                            <td class="v-middle text-center">{{ correction.opDesc.axis }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.add | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.pd | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.pryzm | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.base == 'INT' ?
                                (correction.opDesc.baseValue + '°' ) :
                                correction.opDesc.base }}
                            </td>
                            <td class="v-middle text-center" rowspan="2">{{ correction.vd }}</td>
                            <td class="v-middle text-center">{{ correction.opDesc.visus }}</td>
                            <td class="v-middle text-center" rowspan="2">{{ correction.visusOu }}</td>
                        </tr>
                        <tr>
                            <td class="v-middle text-center font-bold">{{ 'ol' | translate }}</td>
                            <td class="v-middle text-center">{{ correction.olDesc.sf > 0 ? '+' + (correction.olDesc.sf |
                                number:2) : (correction.olDesc.sf | number:2) }}
                            </td>
                            <td class="v-middle text-center">
                                <span ng-if="correction.olDesc.cyl != null">{{ correction.olDesc.cyl > 0 ? '+' + (correction.olDesc.cyl | number:2) : (correction.olDesc.cyl | number:2) }}</span>
                            </td>
                            <td class="v-middle text-center">{{ correction.olDesc.axis }}</td>
                            <td class="v-middle text-center">{{ correction.olDesc.add | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.olDesc.pd | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.olDesc.pryzm | number:2 }}</td>
                            <td class="v-middle text-center">{{ correction.olDesc.base == 'INT' ?
                                (correction.olDesc.baseValue + '°' ) :
                                correction.olDesc.base }}
                            </td>
                            <td class="v-middle text-center">{{ correction.olDesc.visus }}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div ng-if="correction.notes">
                    <h5 class="font-bold">{{ 'notes' | translate }}</h5>

                    <div class="text-muted">{{ correction.notes }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading">
        <h3 class="panel-title text-center text-muted">{{ 'binocular_vision' | translate }}</h3>
    </div>
    <div class="panel-body p-n">

        <div class="hbox b-b b-dark">

            <div class="col p-a b-r b-dark">
                <h5 class="font-bold">{{ 'worths_test' | translate }}</h5>

                <div class="p-a text-center">
                    <img class="w b-a b-dark m-b-xs" ng-if="examination.binocularVision.worthsTest"
                         ng-src="data:image/JPEG;base64,{{examination.binocularVision.worthsTest.content}}">
                    <h3 class="font-bold m-n" ng-if="!examination.binocularVision.worthsTest">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </h3>
                </div>

            </div>

            <div class="col p-a">
                <h5 class="font-bold">{{ 'schoberts_test' | translate }}</h5>

                <div class="p-a text-center">
                    <img class="w b-a b-dark m-b-xs"
                         ng-if="examination.binocularVision.schobersTest"
                         ng-src="data:image/JPEG;base64,{{examination.binocularVision.schobersTest.content}}">
                    <h3 class="font-bold m-n" ng-if="!examination.binocularVision.schobersTest">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </h3>
                </div>

            </div>

        </div>

        <div class="hbox b-b b-dark">
            <div class="col p-a">
                <h5 class="font-bold">{{ 'von_graefe' | translate }}</h5>

                <div class="hbox hbox-auto-sm">
                    <div class="col">
                        <h5 class="font-bold text-center">{{ 'far' | translate }}</h5>

                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox " style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.farScore.esoExo.value != null"
                                            class="font-bold m-n">
                                            {{ examination.binocularVision.vonGraefeTest.farScore.esoExo.value |
                                            number:2 }}
                                            <small class="v-top h5 m-n text-nowrap">{{ 'unit.values.' +
                                                examination.binocularVision.vonGraefeTest.farScore.esoExo.unit |
                                                translate }}
                                            </small>
                                        </h3>
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.farScore.esoExo.value == null"
                                            class="font-bold m-n">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'eso_exo' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col v-middle p-a-sm">
                                <div class="hbox pull-right" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.farScore.hyperHypo.value != null"
                                            class="font-bold m-n">
                                            {{ examination.binocularVision.vonGraefeTest.farScore.hyperHypo.value |
                                            number:2 }}
                                            <small class="v-top h5 m-n text-nowrap">
                                                {{ 'unit.values.' +
                                                examination.binocularVision.vonGraefeTest.farScore.hyperHypo.unit |
                                                translate }}
                                            </small>
                                        </h3>
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.farScore.hyperHypo.value == null" class="font-bold m-n">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'hyper_hypo' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox center-block" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 class="font-bold m-n">
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.haze != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.nfv.haze | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.haze == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.rupture != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.nfv.rupture | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.rupture == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.reconstruction != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.nfv.reconstruction | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.nfv.reconstruction == null" class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'nfv' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox center-block" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 class="font-bold m-n">
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.haze != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.pfv.haze | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.haze == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.rupture != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.pfv.rupture | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.rupture == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.reconstruction != null">
                                                {{ examination.binocularVision.vonGraefeTest.farScore.pfv.reconstruction | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.farScore.pfv.reconstruction == null" class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'pfv' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="font-bold text-center">{{ 'near' | translate }}</h5>

                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox " style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.nearScore.esoExo.value != null"
                                            class="font-bold m-n">
                                            {{ examination.binocularVision.vonGraefeTest.nearScore.esoExo.value |
                                            number:2 }}
                                            <small class="v-top h5 m-n text-nowrap">{{ 'unit.values.' +
                                                examination.binocularVision.vonGraefeTest.nearScore.esoExo.unit |
                                                translate }}
                                            </small>
                                        </h3>
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.nearScore.esoExo.value == null"
                                            class="font-bold m-n">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'eso_exo' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col v-middle p-a-sm">
                                <div class="hbox pull-right" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.nearScore.hyperHypo.value != null"
                                            class="font-bold m-n">
                                            {{ examination.binocularVision.vonGraefeTest.nearScore.hyperHypo.value |
                                            number:2 }}
                                            <small class="v-top h5 m-n text-nowrap">
                                                {{ 'unit.values.' +
                                                examination.binocularVision.vonGraefeTest.nearScore.hyperHypo.unit |
                                                translate
                                                }}
                                            </small>
                                        </h3>
                                        <h3 ng-if="examination.binocularVision.vonGraefeTest.nearScore.hyperHypo.value == null"
                                            class="font-bold m-n">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'hyper_hypo' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox center-block" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 class="font-bold m-n">
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.haze != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.nfv.haze | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.haze == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.rupture != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.nfv.rupture | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.rupture == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.reconstruction != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.nfv.reconstruction | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.nfv.reconstruction == null" class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'nfv' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hbox">
                            <div class="col v-middle p-a-sm">
                                <div class="hbox center-block" style="height: 110px">
                                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                        <h3 class="font-bold m-n">
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.haze != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.pfv.haze | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.haze == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.rupture != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.pfv.rupture | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.rupture == null" class="fa fa-minus" aria-hidden="true"></i>
                                            /
                                            <span ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.reconstruction != null">
                                                {{ examination.binocularVision.vonGraefeTest.nearScore.pfv.reconstruction | number:2 }}
                                            </span>
                                            <i ng-if="examination.binocularVision.vonGraefeTest.nearScore.pfv.reconstruction == null" class="fa fa-minus" aria-hidden="true"></i>
                                        </h3>

                                        <div class="text-muted font-bold">{{ 'pfv' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="hbox hbox-auto-sm b-b b-dark">

            <div class="col p-a b-r b-dark">
                <h5 class="font-bold">{{ 'maddox_cross' | translate }}</h5>

                <div class="hbox">
                    <div class="col v-middle p-a-sm">
                        <div class="hbox " style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.binocularVision.maddoxCross.esoExo.value != null"
                                    class="font-bold m-n">
                                    {{ examination.binocularVision.maddoxCross.esoExo.value | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">{{ 'unit.values.' +
                                        examination.binocularVision.maddoxCross.esoExo.unit | translate }}
                                    </small>
                                </h3>
                                <h3 ng-if="examination.binocularVision.maddoxCross.esoExo.value == null"
                                    class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'eso_exo' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-sm">
                        <div class="hbox pull-right" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.binocularVision.maddoxCross.hyperHypo.value != null"
                                    class="font-bold m-n">
                                    {{ examination.binocularVision.maddoxCross.hyperHypo.value | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">
                                        {{ 'unit.values.' + examination.binocularVision.maddoxCross.hyperHypo.unit |
                                        translate }}
                                    </small>
                                </h3>
                                <h3 ng-if="examination.binocularVision.maddoxCross.hyperHypo.value == null"
                                    class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'hyper_hypo' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col p-a">
                <h5 class="font-bold">{{ 'maddox_wing' | translate }}</h5>

                <div class="hbox">
                    <div class="col v-middle p-a-sm">
                        <div class="hbox " style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.binocularVision.maddoxWing.esoExo.value != null"
                                    class="font-bold m-n">
                                    {{ examination.binocularVision.maddoxWing.esoExo.value | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">{{ 'unit.values.' +
                                        examination.binocularVision.maddoxWing.esoExo.unit | translate }}
                                    </small>
                                </h3>
                                <h3 ng-if="examination.binocularVision.maddoxWing.esoExo.value == null"
                                    class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'eso_exo' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-sm">
                        <div class="hbox pull-right" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.binocularVision.maddoxWing.hyperHypo.value != null"
                                    class="font-bold m-n">
                                    {{ examination.binocularVision.maddoxWing.hyperHypo.value | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">
                                        {{ 'unit.values.' + examination.binocularVision.maddoxWing.hyperHypo.unit |
                                        translate }}
                                    </small>
                                </h3>
                                <h3 ng-if="examination.binocularVision.maddoxWing.hyperHypo.value == null"
                                    class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'hyper_hypo' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox b-b b-dark">
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.binocularVision.ct != null" class="font-bold m-n">
                            <i ng-if="!examination.binocularVision.ct" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.binocularVision.ct" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'ct' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.binocularVision.cut != null" class="font-bold m-n">
                            <i ng-if="!examination.binocularVision.cut" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.binocularVision.cut" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'cut' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.binocularVision.hirschbergTest != null" class="font-bold m-n">
                            <i ng-if="!examination.binocularVision.hirschbergTest" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.binocularVision.hirschbergTest" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'hirschberg_test' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox b-b b-dark">
            <div class="col v-middle b-r b-dark p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.binocularVision.krimskyTest.value != null" class="font-bold m-n">
                            {{ examination.binocularVision.krimskyTest.value }}
                            <small class="v-top h5 m-n text-nowrap">
                                {{ 'unit.values.' + examination.binocularVision.krimskyTest.unit | translate }}
                            </small>
                        </h3>
                        <h3 ng-if="examination.binocularVision.krimskyTest.value == null" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'krimsky_test' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 class="font-bold m-n">
                            <span ng-if="examination.binocularVision.pbk.numerator != null">
                                {{ examination.binocularVision.pbk.numerator}}
                            </span>
                            <i ng-if="examination.binocularVision.pbk.numerator == null" class="fa fa-minus" aria-hidden="true"></i>
                            /
                            <span ng-if="examination.binocularVision.pbk.denominator != null">
                                {{ examination.binocularVision.pbk.denominator}}
                            </span>
                            <i ng-if="examination.binocularVision.pbk.denominator == null" class="fa fa-minus" aria-hidden="true"></i>

                            <small class="v-top h5 m-n text-nowrap">
                                {{ 'cm' | translate }}
                            </small>
                        </h3>

                        <div class="text-muted font-bold">{{ 'pbk' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox">
            <div class="col p-a b-r b-dark">
                <h5 class="font-bold">{{ 'nine_directions_glance' | translate }}</h5>

                <div ng-if="examination.binocularVision.nineDirectionsGlance" class="text-muted">
                    {{ examination.binocularVision.nineDirectionsGlance }}
                </div>
                <div ng-if="!examination.binocularVision.nineDirectionsGlance" class="text-muted">
                    {{ 'absent' | translate }}
                </div>
            </div>
            <div class="col p-a">
                <h5 class="font-bold">{{ 'notes' | translate }}</h5>

                <div ng-if="examination.binocularVision.notes" class="text-muted">{{ examination.binocularVision.notes
                    }}
                </div>
                <div ng-if="!examination.binocularVision.notes" class="text-muted">
                    {{ 'absent' | translate }}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading">
        <h3 class="panel-title text-center text-muted">{{ 'synoptofor' | translate }}</h3>
    </div>
    <div class="panel-body p-n">

        <div class="hbox b-b b-dark">
            <div class="col v-middle b-r b-dark p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.synoptoforTest.objectiveAngle" class="font-bold m-n">
                            {{ examination.synoptoforTest.objectiveAngle }}
                            <small class="v-top h5 m-n text-nowrap">
                                {{ 'unit.values.DEGREES' | translate }}
                            </small>
                        </h3>
                        <h3 ng-if="!examination.synoptoforTest.objectiveAngle" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'objective_angle' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.synoptoforTest.subjectiveAngle" class="font-bold m-n">
                            {{ examination.synoptoforTest.subjectiveAngle }}
                            <small class="v-top h5 m-n text-nowrap">
                                {{ 'unit.values.DEGREES' | translate }}
                            </small>
                        </h3>
                        <h3 ng-if="!examination.synoptoforTest.subjectiveAngle" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'subjective_angle' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox b-b b-dark">
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.synoptoforTest.jp != null" class="font-bold m-n">
                            <i ng-if="!examination.synoptoforTest.jp" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.synoptoforTest.jp" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'jp' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.synoptoforTest.f != null" class="font-bold m-n">
                            <i ng-if="!examination.synoptoforTest.f" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.synoptoforTest.f" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'f' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox " style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.synoptoforTest.st != null" class="font-bold m-n">
                            <i ng-if="!examination.synoptoforTest.st" class="fa fa-minus" aria-hidden="true"></i>
                            <i ng-if="examination.synoptoforTest.st" class="fa fa-plus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'st' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox">
            <div class="col p-a">
                <h5 class="font-bold">{{ 'notes' | translate }}</h5>

                <div ng-if="examination.synoptoforTest.notes" class="text-muted">{{ examination.synoptoforTest.notes
                    }}
                </div>
                <div ng-if="!examination.synoptoforTest.notes" class="text-muted">
                    {{ 'absent' | translate }}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading">
        <h3 class="panel-title text-center text-muted">{{ 'accommodation' | translate }}</h3>
    </div>
    <div class="panel-body p-n">

        <div class="hbox b-b b-dark">
            <div class="col v-middle b-r b-dark p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.accommodation.flipper.value != null" class="font-bold m-n">
                            {{ examination.accommodation.flipper.value }}
                            <small class="v-top h5 m-n text-nowrap">
                                {{ 'cpm' | translate }}
                            </small>
                            {{ ' | ' + ('plus_minus_flag.values.' +
                            examinationService.flipperPredictions[examination.accommodation.flipper.problem] |
                            translate) }}
                        </h3>
                        <h3 ng-if="examination.accommodation.flipper.value == null" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'flipper' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox b-b b-dark">
            <div class="col v-middle p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.accommodation.fcc != null" class="font-bold m-n">
                            {{ examination.accommodation.fcc > 0 ? '+' + (examination.accommodation.fcc | number:2) :
                            (examination.accommodation.fcc | number:2) }}
                            <small class="v-top h5 m-n text-nowrap">D</small>
                        </h3>

                        <h3 ng-if="examination.accommodation.fcc == null" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'fcc' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.accommodation.pra != null" class="font-bold m-n">
                            {{ examination.accommodation.pra > 0 ? '+' + (examination.accommodation.pra | number:2) :
                            (examination.accommodation.pra | number:2) }}
                            <small class="v-top h5 m-n text-nowrap">D</small>
                        </h3>

                        <h3 ng-if="examination.accommodation.pra == null" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'pra' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="col v-middle p-a-md">
                <div class="hbox" style="height: 110px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <h3 ng-if="examination.accommodation.nra != null" class="font-bold m-n">
                            {{ examination.accommodation.nra | number:2 }}
                            <small class="v-top h5 m-n text-nowrap">D</small>
                        </h3>

                        <h3 ng-if="examination.accommodation.nra == null" class="font-bold m-n">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </h3>

                        <div class="text-muted font-bold">{{ 'nra' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox b-b b-dark">
            <div class="col">
                <h5 class="font-bold p-t p-l m-b-n-xs">{{ 'amplitude' | translate }}</h5>

                <div class="hbox">
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.accommodation.amplitude.ol != null" class="font-bold m-n">
                                    {{ examination.accommodation.amplitude.ol | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">D</small>
                                </h3>

                                <h3 ng-if="examination.accommodation.amplitude.ol == null" class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'ol' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.accommodation.amplitude.op != null" class="font-bold m-n">
                                    {{ examination.accommodation.amplitude.op | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">D</small>
                                </h3>

                                <h3 ng-if="examination.accommodation.amplitude.op == null" class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'op' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col v-middle p-a-md">
                        <div class="hbox" style="height: 110px">
                            <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                                <h3 ng-if="examination.accommodation.amplitude.ou != null" class="font-bold m-n">
                                    {{ examination.accommodation.amplitude.ou | number:2 }}
                                    <small class="v-top h5 m-n text-nowrap">D</small>
                                </h3>

                                <h3 ng-if="examination.accommodation.amplitude.ou == null" class="font-bold m-n">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </h3>

                                <div class="text-muted font-bold">{{ 'ou' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hbox">
            <div class="col p-a">
                <h5 class="font-bold">{{ 'notes' | translate }}</h5>

                <div class="text-muted">
                    {{ examination.accommodation.notes ? examination.accommodation.notes : ('absent' | translate) }}
                </div>
            </div>
        </div>

    </div>
</div>

<div id="documents" class="panel panel-default" ng-if="['EXAMINATION'].indexOf(examination.type) != -1">
    <div class="panel-heading">
        <h3 class="panel-title text-center text-muted">{{ 'documents' | translate }}</h3>
    </div>
    <div class="panel-body p-n">

        <div class="row m-n" ng-if="examination.documents.length != 0">
            <div class="col-md-6 p-a b-a b-dark" ng-repeat="doc in examination.documents">
                <div class="hbox">
                    <a class="col v-middle img-rounded text-center b-a b-dark p-a" ng-class="{ 'bg-dark-hover': hovered['doc'][$index] }"
                         ng-mouseover="hovered['doc'][$index] = true" ng-mouseleave="hovered['doc'][$index] = false" ng-click="previewDocument(doc)">
                        <img class="w-full h-auto b-a b-dark m-b-xs m-t-xs" ng-src="{{(doc.content.indexOf('base64') == -1 ? 'data:image/JPEG;base64,' : '' ) + doc.content}}">

                        <div class="text-muted font-bold">{{ doc.name }}</div>

                    </a>
                </div>
            </div>
        </div>

        <div ng-if="examination.documents.length == 0" class="text-muted text-center p-a">
            {{ 'absent' | translate }}
        </div>

    </div>
</div>