<div class="text-center p-a-md b-b b-dark">
    <h3 class="inline m-n">{{ 'examinations' | translate }}</h3>
    <div class="btn-group pull-right inline" role="group">
        <button ng-if="examinations.content.length > 0" type="button" class="btn btn-default btn-icon"
                ng-class="correctionsVisible ? 'active' : ''" tooltip-placement="left"
                uib-tooltip="{{ (correctionsVisible ? 'hide_corrections' : 'show_corrections') | translate }}"
                ng-click="toggleCorrections()">
            <i class="fa" ng-class="correctionsVisible ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="row-row">
    <div class="cell">
        <div class="cell-inner scrollable  p-a">
            <div class="list-group">
                <a class="list-group-item m-xs" ng-repeat="examination in examinations.content"
                   ui-sref="app.patient_card.examination.preview({examinationId: examination.examinationId})"
                   ng-class="{ 'bg-dark-hover': hovered['examination'][examinationId] }"
                   ng-mouseover="hovered['examination'][examinationId] = true"
                   ng-mouseleave="hovered['examination'][examinationId] = false">
                    <div class="media">
                        <div class="media-left v-middle text-center" style="min-width: 71px;">
                            <div ng-if="['EXAMINATION'].indexOf(examination.type) != -1"
                                 class="img-rounded text-center b-a b-dark p-t-xs p-b-xs p-l p-r"
                                 tooltip-placement="top"
                                 uib-tooltip="{{ examination.basicInformation.date | date:'dd.MM.yyyy'}}"
                                 style="border-width:2px">
                                <div class="h3 m-n font-bold">{{ examination.basicInformation.date | date:'dd'}}</div>
                                <small class="text-muted text-uppercase font-bold">{{ 'month.' +
                                    (examination.basicInformation.date | date:'MMM') | translate }}
                                </small>
                            </div>

                            <i ng-if="['CORRECTION'].indexOf(examination.type) != -1" class="fa fa-eye fa-2x"
                               aria-hidden="true" tooltip-placement="top"
                               uib-tooltip="{{ 'correction' | translate }}"></i>

                        </div>
                        <div class="media-body v-middle">

                            <div uib-collapse="!correctionsVisible || examination.corrections.length == 0"
                                 class="p-a-sm">
                                <h4 class="font-bold text-center">
                                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'correction' | translate }}
                                </h4>
                                <div class="list-group">

                                    <div class="list-group-item" ng-repeat="correction in examination.corrections">
                                        <h4 class="list-group-item-heading font-bold">{{ 'correction_category.values.' +
                                            correction.category | translate }}</h4>
                                        <div class="list-group-item-text">
                                            <div class="form-group">
                                                <label>{{ 'details' | translate }}</label>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="text-center">{{ 'sf' | translate }}</th>
                                                            <th class="text-center">{{ 'cyl' | translate }}</th>
                                                            <th class="text-center">{{ 'axis' | translate }}</th>
                                                            <th class="text-center">{{ 'add' | translate }}</th>
                                                            <th class="text-center">{{ 'pd' | translate }}</th>
                                                            <th class="text-center">{{ 'pryzm' | translate }}</th>
                                                            <th class="text-center">{{ 'base' | translate }}</th>
                                                            <th class="text-center">{{ 'vd' | translate }}</th>
                                                            <th class="text-center" colspan="2">{{ 'visus' | translate
                                                                }}
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="v-middle text-center font-bold">{{ 'op' |
                                                                translate }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.sf
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">
                                                                <span ng-if="correction.opDesc.cyl != null">{{ correction.opDesc.cyl > 0 ? '+' + (correction.opDesc.cyl | number:2) : (correction.opDesc.cyl | number:2) }}</span>
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.axis
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.add
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.pd
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.pryzm
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.base
                                                                == 'INT' ? (correction.opDesc.baseValue + '°' ) :
                                                                correction.opDesc.base }}
                                                            </td>
                                                            <td class="v-middle text-center" rowspan="2">{{
                                                                correction.vd }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.opDesc.visus
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center" rowspan="2">{{
                                                                correction.visusOu }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="v-middle text-center font-bold">{{ 'ol' |
                                                                translate }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.sf
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">
                                                                <span ng-if="correction.olDesc.cyl != null">{{ correction.olDesc.cyl > 0 ? '+' + (correction.olDesc.cyl | number:2) : (correction.olDesc.cyl | number:2) }}</span>
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.axis
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.add
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.pd
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.pryzm
                                                                }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.base
                                                                == 'INT' ? (correction.olDesc.baseValue + '°' ) :
                                                                correction.olDesc.base }}
                                                            </td>
                                                            <td class="v-middle text-center">{{ correction.olDesc.visus
                                                                }}
                                                            </td>
                                                        </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                            <div ng-if="correction.notes" class="form-group">
                                                <label>{{ 'notes' | translate }}</label>
                                                <div class="form-control-static">{{ correction.notes }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hbox p-a-sm">

                                <div ng-if="examination.createdBy" class="col v-middle p-l-sm p-r-sm">
                                    <div class="hbox">
                                        <div class="col v-middle w-xxxs text-center">
                                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                               tooltip-placement="top" uib-tooltip="{{ 'created' | translate }}"></i>
                                        </div>
                                        <div class="col v-middle p-l-xs p-r-xs">
                                            <small class="text-ellipsis font-bold">
                                                {{ examination.createdBy.firstname + ' ' + examination.createdBy.surname
                                                }}<br/>
                                                {{ examination.created | date:'dd.MM.yyyy' }}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="examination.modifiedBy" class="col v-middle">
                                    <div class="hbox">
                                        <div class="col v-middle w-xxxs text-center">
                                            <i class="fa fa-pencil fa-2x" aria-hidden="true" tooltip-placement="top"
                                               uib-tooltip="{{ 'modified' | translate }}"></i>
                                        </div>
                                        <div class="col v-middle p-l-xs p-r-xs">
                                            <small class="text-ellipsis font-bold">
                                                {{ examination.modifiedBy.firstname + ' ' +
                                                examination.modifiedBy.surname }}<br/>
                                                {{ examination.modified | date:'dd.MM.yyyy' }}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="text-center p-a-md">
                <a ng-if="!examinations.last && examinations.content.length > 0" class="btn btn-default w" type="button"
                   ng-click="fetchPatientExaminations()">
                    {{ 'more' | translate }}
                </a>
            </div>

        </div>
    </div>
</div>