<div class="hbox p-a-xs b-b b-dark">
    <div class="col v-middle w text-center" style=" height: 60px;">
        <div ng-if="['EXAMINATION'].indexOf(examination.type) != -1" class="img-rounded text-center b-a b-dark p-t-xs p-b-xs p-l p-r pull-right m-r-sm" tooltip-placement="right"
             uib-tooltip="{{ examination.basicInformation.date | date:'dd.MM.yyyy'}}"
             style="border-width:2px; width: 65px">
            <div class="h3 m-n font-bold">{{ examination.basicInformation.date | date:'dd'}}</div>
            <small class="text-muted text-uppercase font-bold">{{ 'month.' + (examination.basicInformation.date | date:'MMM') | translate }}</small>
        </div>

        <div ng-if="['CORRECTION'].indexOf(examination.type) != -1" class="pull-right m-r-lg">
            <i class="fa fa-eye fa-2x" aria-hidden="true" tooltip-placement="top" uib-tooltip="{{ 'correction' | translate }}"></i>
        </div>
    </div>
    <div class="col v-middle">
        <h3 class="m-n">{{ $state.current.name == 'app.patient_card.examination.preview' ? 'examination_details' : 'modify_examination' | translate }}</h3>
    </div>
    <div class="col v-middle w-sm">
        <div class="btn-toolbar pull-right">
            <button ng-if="$state.current.name.indexOf('modify') == -1" type="button" class="btn btn-default btn-icon"
                    tooltip-placement="bottom" uib-tooltip="{{ 'print' | translate }}" ng-click="printExamination(false)">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            <button ng-if="$state.current.name.indexOf('modify') == -1" type="button" class="btn btn-default btn-icon"
                    tooltip-placement="bottom" uib-tooltip="{{ 'print_all_examination' | translate }}" ng-click="printExamination(true)">
                <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            <a ui-sref="app.patient_card.examination.modify" ng-if="auth.hasAuthority('READ_WRITE') && $state.current.name.indexOf('modify') == -1" type="button"
               class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'edit' | translate }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a ui-sref="app.patient_card.examination.preview" ui-sref-active-eq="hidden" type="button"
               class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'cancel' | translate }}">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </a>
        </div>
    </div>

</div>
<div ng-if="$state.current.name == 'app.patient_card.examination.preview'" uib-collapse="examinationDataToCopy.corrections.length == 0">
    <div class="hbox p-a b-b b-dark bg-dark">
        <div class="col v-middle">
            <div class="label bg-light font-bold p-a-sm m-r" ng-repeat="correction in examinationDataToCopy.corrections">
                {{ 'correction_category.values.' + correction.category | translate }}
                <button class="btn btn-default btn-xs bg-transparent btn-icon bg-light" type="button"
                ng-click="examinationDataToCopy.corrections.splice(examinationDataToCopy.corrections.indexOf(correction), 1);">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col v-middle w-sm">
            <a class="btn bg-light font-bold" type="button" ng-click="copyExamination(examinationDataToCopy)">
                <i class="fa fa-files-o"></i> {{ 'copy_examination' | translate }}
            </a>
        </div>
    </div>
</div>
<div class="row-row">
    <div class="cell">
        <div id="examination_preview" class="cell-inner scrollable  p-a" ui-view></div>
    </div>
</div>