<div class="hbox h-full">

    <!-- Left side -->
    <div class="col v-middle">

        <img ng-src="{{'assets/img/logo.jpg'}}" class="w-sm center-block m-b-xl m-t-n-xl">

        <div ui-view></div>

    </div>

    <!-- Right side -->
    <div class="col v-middle w-xxxl">
        <div class="text-left">
            <h1 class="m-b-xs">{{ app.name }}</h1>
            <div class="text-muted lead">{{ 'employee_panel_optyk_company' | translate }}</div>
        </div>
    </div>

</div>