<div class="text-center">
    <h3 class="m-b-xs">{{ 'finalize_password_reset' | translate }}</h3>

    <div class="text-muted font-thin">{{ 'finalize_password_reset_desc' | translate }}</div>
</div>

<form name="form" class="form-validation form-horizontal w-xxl center-block m-t-md" ng-submit="finalizePasswordReset(password)" role="form">

    <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
        <label class="col-lg-12">{{ 'password' | translate }}</label>

        <div class="col-lg-12">
            <input type="password" name="password" class="form-control" ng-model="password" required>

            <div class="help-block m-b-n-sm" ng-messages="form.password.$error" ng-show="form.password.$touched">
                <div ng-messages-include="app/common/partials/form_errors.html"></div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.passwordRepeat.$touched && form.passwordRepeat.$invalid }">
        <label class="col-lg-12">{{ 'repeat_password' | translate }}</label>

        <div class="col-lg-12">
            <input type="password" name="passwordRepeat" class="form-control" ng-model="passwordRepeat" required
                   match-with="password">

            <div class="help-block m-b-n-sm" ng-messages="form.passwordRepeat.$error" ng-show="form.passwordRepeat.$touched">
                <div ng-messages-include="app/common/partials/form_errors.html"></div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default pull-right w-sm" ng-disabled="form.$invalid">
        {{ 'submit' | translate }}
    </button>

</form>