<form name="form" class="form-validation form-horizontal w-xxl center-block" ng-submit="resetPassword(email)" role="form">

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <label class="col-lg-12">{{ 'email' | translate }}</label>

        <div class="col-lg-12">
            <input type="email" name="email" class="form-control" ng-model="email" required>

            <div class="help-block m-b-n-sm" ng-messages="form.email.$error" ng-show="form.email.$touched">
                <div ng-messages-include="app/common/partials/form_errors.html"></div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default pull-right w-sm" ng-disabled="form.$invalid">
        {{ 'reset' | translate }}
    </button>

</form>