<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">{{ 'signin' | translate }}</div>
</div>

<div class="modal-body">
    <form name="form" class="form-validation form-horizontal w-xxl center-block" ng-submit="refreshSession(credentials)" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.username.$touched && form.username.$invalid }">
            <label class="col-lg-12">{{ 'username' | translate }}</label>

            <div class="col-lg-12">
                <input autofocus type="text" name="username" class="form-control" ng-model="credentials.username" required>

                <div class="help-block m-b-n-sm" ng-messages="form.username.$error" ng-show="form.username.$touched">
                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
            <label class="col-lg-12">{{ 'password' | translate }}</label>

            <div class="col-lg-12">
                <input type="password" name="password" class="form-control" ng-model="credentials.password" required>

                <div class="help-block m-b-n-sm" ng-messages="form.password.$error" ng-show="form.password.$touched">
                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6">
                <div class="checkbox">
                    <label ng-init="credentials.rememberMe = true">
                        <input type="checkbox" ng-model="credentials.rememberMe"> {{ 'remember_me' | translate }}
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pull-right m-t-n-sm">
                    <a class="text-muted" ui-sref="auth.forgot_pwd">{{ 'forgot_password_question' | translate }}</a>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default pull-right w-sm" ng-disabled="form.$invalid">
            {{ 'signin' | translate }}
        </button>

    </form>
</div>