<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">{{ 'add_document' | translate }}</div>
</div>

<div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate ng-submit="submit(doc)">

        <div class="hbox">
            <div class="col v-middle p-a-sm">
                <div class="hbox" style="height: 500px">
                    <div class="col v-middle img-rounded text-center b-a b-dark p-a">
                        <input name="content" ng-model="doc.content" hidden type="text" required>

                        <img class="w-xxl b-a b-dark" ng-if="doc.content" ng-src="{{doc.content}}"/>

                        <div class="w-full p-a" ng-if="!doc.content">
                            <input id="file" type="file" valid-file ng-model="file" ng-required="true"
                                   onchange="angular.element(this).scope().handlePictureSelect(this)"/>
                        </div>


                        <div class="text-left form-group col-sm-12 p-a">
                            <label class="col-lg-12">{{ 'name' | translate }}</label>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <ui-select class="w-xxl" name="name" tagging tagging-label="false" search-enabled="true"
                                               ng-model="doc.name" theme="bootstrap" required>
                                        <ui-select-match>{{ doc.name }}</ui-select-match>
                                        <ui-select-choices repeat="name in documentNames | filter: $select.search">
                                            {{ name }}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="input-group-btn" style="min-width: 20px;" ng-if="doc.name">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                ng-click="doc.name = null;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default font-bold m-t-sm" type="submit" ng-disabled="form.$invalid">
                <i class="fa fa-check"></i> {{ 'submit' | translate }}
            </button>
        </div>
    </form>
</div>