<div class="panel panel-default">
    <div class="panel-heading">
        <div class="hbox">
            <h3 class="panel-title text-center text-muted">{{ 'correction' | translate }}</h3>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item p-n" ng-repeat="correction in corrections">
            <div class="hbox p-a">
                <div class="col v-middle" ng-class="{ 'has-error': (form['correctionCategory_' + $index].$touched || form.$submitted) && form['correctionCategory_' + $index].$invalid }">
                    <h5 class="font-bold">{{ 'category' | translate }} *</h5>
                    <ui-select ng-model="correction.category" theme="bootstrap" search-enabled="false"
                               name="{{ 'correctionCategory_' + $index }}" required>
                        <ui-select-match>
                            {{ 'correction_category.values.' + correction.category | translate }}
                        </ui-select-match>
                        <ui-select-choices repeat="category in CORRECTION_CATEGORY">
                            {{ 'correction_category.values.' + category | translate }}
                        </ui-select-choices>
                    </ui-select>

                    <div class="help-block m-b-n-sm" ng-messages="form['correctionCategory_' + $index].$error"
                         ng-show="(form['correctionCategory_' + $index].$touched || form.$submitted)">
                        <div ng-messages-include="app/common/partials/form_errors.html"></div>
                    </div>
                </div>
                <div class="col v-top w-xxxs">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"
                            ng-really-message="{{ 'really_delete_correction_question' | translate }}"
                            ng-really-click="corrections.splice(corrections.indexOf(correction), 1);">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="list-group-item-text p-a">
                <h5 class="font-bold">{{ 'details' | translate }}</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">{{ 'sf' | translate }} *</th>
                            <th class="text-center">{{ 'cyl' | translate }}</th>
                            <th class="text-center">{{ 'axis' | translate }}</th>
                            <th class="text-center">{{ 'add' | translate }}</th>
                            <th class="text-center">{{ 'pd' | translate }}</th>
                            <th class="text-center">{{ 'pryzm' | translate }}</th>
                            <th class="text-center">{{ 'base' | translate }}</th>
                            <th class="text-center">{{ 'vd' | translate }}</th>
                            <th class="text-center" colspan="2">{{ 'visus' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="v-middle text-center font-bold">{{ 'op' | translate }}</td>
                            <td class="v-middle text-center">
                                <input type="number" hidden ng-model="correction.opDesc.sf"
                                       name="{{ 'correctionOpDescSf_' + $index }}" required/>
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('sf' | translate) + ')', correction.opDesc, 'sf', { step: 0.25, min: -35 , max: 35, initial: 0 })">
                                    <div ng-class="{ 'text-danger': form['correctionOpDescSf_' + $index].$invalid }">
                                        {{ correction.opDesc.sf != null ? (correction.opDesc.sf > 0 ? '+' +
                                        (correction.opDesc.sf | number:2) : (correction.opDesc.sf | number:2)) : '---'
                                        }}
                                    </div>
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('cyl' | translate) + ')', correction.opDesc, 'cyl', { step: 0.25, min: -10 , max: 10, initial: 0 })">
                                    <span ng-if="correction.opDesc.cyl != null">{{correction.opDesc.cyl > 0 ? '+' : ''}}{{ correction.opDesc.cyl | number:2 }}</span>
                                    <span ng-if="correction.opDesc.cyl == null">---</span>
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('axis' | translate) + ')', correction.opDesc, 'axis', { step: 1, min: 1 , max: 180, initial: 180 })">
                                    {{ correction.opDesc.axis != null ? (correction.opDesc.axis) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('add' | translate) + ')', correction.opDesc, 'add', { step: 0.25, min: 0 , max: 4, initial: 0 })">
                                    {{ correction.opDesc.add != null ? (correction.opDesc.add | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('pd' | translate) + ')', correction.opDesc, 'pd', { step: 0.10, min: 20 , max: 40, initial: 0 })">
                                    {{ correction.opDesc.pd != null ? (correction.opDesc.pd | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('op' | translate) + '(' + ('pryzm' | translate) + ')', correction.opDesc, 'pryzm', { step: 0.25, min: 0 , max: 20, initial: 0 })">
                                    {{ correction.opDesc.pryzm != null ? (correction.opDesc.pryzm | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button ng-click="examinationService.openSetCorrectionBaseValueModal(correction, 'opDesc')"
                                        type="button" class="btn btn-link p-a-xs">
                                    {{ correction.opDesc.base ? (correction.opDesc.base == 'INT' ?
                                    (correction.opDesc.baseValue + '°' ) : correction.opDesc.base) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center" rowspan="2">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal('(' + ('vd' | translate) + ')', correction, 'vd', { step: 1, min: 0 , max: 20, initial: 0 })">
                                    {{ correction.vd != null ? correction.vd : '---' }}
                                </button>
                            </td>

                            <td class="v-middle text-center">
                                <input type="text" class="form-control input-sm w-xs"
                                       ng-model="correction.opDesc.visus"/>
                            </td>

                            <td class="v-middle text-center" rowspan="2">
                                <input type="text" class="form-control input-sm w-xs" ng-model="correction.visusOu"/>
                            </td>

                        </tr>
                        <tr>
                            <td class="v-middle text-center font-bold">{{ 'ol' | translate }}</td>
                            <td class="v-middle text-center">
                                <input type="number" hidden ng-model="correction.olDesc.sf"
                                       name="{{ 'correctionolDescSf_' + $index }}" required/>
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('sf' | translate) + ')', correction.olDesc, 'sf', { step: 0.25, min: -35 , max: 35, initial: 0 })">
                                    <div ng-class="{ 'text-danger': form['correctionolDescSf_' + $index].$invalid }">
                                        {{ correction.olDesc.sf != null ? (correction.olDesc.sf > 0 ? '+' +
                                        (correction.olDesc.sf | number:2) : (correction.olDesc.sf | number:2)) : '---'
                                        }}
                                    </div>
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('cyl' | translate) + ')', correction.olDesc, 'cyl', { step: 0.25, min: -10 , max: 10, initial: 0 })">
                                    <span ng-if="correction.olDesc.cyl != null">{{correction.olDesc.cyl > 0 ? '+' : ''}}{{ correction.olDesc.cyl | number:2 }}</span>
                                    <span ng-if="correction.olDesc.cyl == null">---</span>
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('axis' | translate) + ')', correction.olDesc, 'axis', { step: 1, min: 1 , max: 180, initial: 180 })">
                                    {{ correction.olDesc.axis != null ? (correction.olDesc.axis) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('add' | translate) + ')', correction.olDesc, 'add', { step: 0.25, min: 0 , max: 4, initial: 0 })">
                                    {{ correction.olDesc.add != null ? (correction.olDesc.add | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('pd' | translate) + ')', correction.olDesc, 'pd', { step: 0.10, min: 20 , max: 40, initial: 0 })">
                                    {{ correction.olDesc.pd != null ? (correction.olDesc.pd | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.numericValueFromModal(('ol' | translate) + '(' + ('pryzm' | translate) + ')', correction.olDesc, 'pryzm', { step: 0.25, min: 0 , max: 20, initial: 0 })">
                                    {{ correction.olDesc.pryzm != null ? (correction.olDesc.pryzm | number:2) : '---' }}
                                </button>
                            </td>
                            <td class="v-middle text-center">
                                <button type="button" class="btn btn-link p-a-xs"
                                        ng-click="examinationService.openSetCorrectionBaseValueModal(correction, 'olDesc')">
                                    {{ correction.olDesc.base ? (correction.olDesc.base == 'INT' ?
                                    (correction.olDesc.baseValue + '°' ) : correction.olDesc.base) : '---' }}
                                </button>
                            </td>

                            <td class="v-middle text-center">
                                <input type="text" class="form-control input-sm w-xs"
                                       ng-model="correction.olDesc.visus"/>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>

                <h5 class="font-bold">{{ 'notes' | translate }}</h5>
                <textarea rows="1" class="form-control" ng-model="correction.notes"></textarea>
            </div>
        </div>
        <div class="list-group-item text-center" ng-class="{ 'b-t b-dark': corrections.length > 0 }">
            <button class="btn btn-default btn-sm font-bold" type="button"
                    ng-click="corrections.push({opDesc: {}, olDesc: {}})">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'add_correction' | translate }}
            </button>
        </div>
    </div>
</div>