<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">
        {{ preview.name }}
    </div>
</div>

<img class="w-full" ng-src="{{(preview.content.indexOf('base64') == -1 ? 'data:image/JPEG;base64,' : '' ) + preview.content}}">