<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">
        {{ 'preview' | translate }}
        <button type="button" class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'download' | translate }}"
                ng-click="download()">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
    </div>
</div>

<img id="preview" class="w-full" ng-src="{{ image }}">