<div class="p-a">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="p-a">
    <form name="form" class="form-validation form-horizontal" novalidate ng-submit="submit(base)">
        <div class="row m-n">
            <div class="form-group col-lg-12">
                <label class="col-lg-12">{{ 'base' | translate }}</label>
                <div class="col-lg-12">
                    <div class="input-group">
                        <ui-select ng-init="test = base" class="w-md" ng-model="test" theme="bootstrap" search-enabled="false"
                                   on-select="base.key = $select.selected['key']; base.value = $select.selected['value']">
                            <ui-select-match allow-clear="true">
                                {{ base.key == 'INT' ? (base.value + '°' ) : base.key }}
                            </ui-select-match>
                            <ui-select-choices repeat="prediction in utils.correctionBasePredictions">
                                {{ prediction.key == 'INT' ? (prediction.value + '°' ) : prediction.key }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default font-bold m-t-sm" type="submit">
                <i class="fa fa-check"></i> {{ 'submit' | translate }}
            </button>
        </div>
    </form>
</div>