@import "../../libs/bootstrap/less/bootstrap.less";
@icon-font-path: "../libs/bootstrap/fonts/";
@import "variables.less";
@import "mixins.less";

html, body{
	width: 100%;
	height: 100%;
	.bg-light;
}
body{
	overflow-x: hidden;
	padding-top: 50px;
}

.app{
	height: 100%;
	min-height: 100%;
	width: 100%;
	position: relative;
}

.v-middle{vertical-align: middle !important;}
.v-top{vertical-align: top !important;}
.v-bottom{vertical-align: bottom !important;}

.box-shadow{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    padding: 10px 10px;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}


.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.inline{display:inline-block !important;}

.modal-content {
  background-color: @light;
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px solid @dark-grey;
  padding: 50px 50px 25px 50px;
  .font-bold;
}
.modal-header .close {
  margin-top: -25px;
  margin-right: -25px;
  font-size: 25px;
}
.modal-title {
  font-size: 30px;
  text-align: center;
}

.modal-body {
  padding: 25px 50px 50px 50px;
}

.loading_overlay {
    background: fade(@dark, 20%);
}

.text-lg{font-size: 20px;}
.text-xl{font-size: 22px;}