.text-muted {
    color: @grey;
}

.bg-light {
    background-color: @light;
    color: @dark;
}

.bg-dark {
    background-color: @dark;
    color: @light;
}

.bg-dark-hover {
    background-color: #e6e6e6 !important;
    color: @dark !important;
    & b-dark {
        border-color: #adadad !important;
    }
}

.bg-transparent {
    background-color: transparent;
}

.btn {
  border-radius: 0px;
}

.btn-default {
  color: @dark;
  .bg-transparent;
}

.panel {
    border-radius: 0px;
    .bg-transparent;
}

.panel-body {
    .bg-transparent;
}

.list-group-item {
    .bg-transparent;
}

.list-group-item.a:hover {
    background-color: darken(@light, 10%);
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.form-control {
    border-radius: 0px;
    box-shadow:none;
}

.input-group-addon {
    border-radius: 0px;
}

.hbox{
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	height: auto;
	.col{
		display: table-cell;
		vertical-align: top;
		word-wrap: break-word;
		height: 100%;
		float: none;
	}
}

.w-xxxs {
  width: 30px;
}
.w-xxs{
  width: 60px;
}
.w-xs{
  width: 90px;
}
.w-sm{
  width: 150px;
}
.w{
  width: 200px;
}
.w-md{
  width: 240px;
}
.w-lg{
  width: 280px;
}
.w-xl{
  width: 320px;
}
.w-xxl{
  width: 360px;
}
.w-xxxl{
  width: 400px;
}
.w-full{
  width: 100%;
}
.w-auto{
  width: auto;
}
.h-auto{
  height: auto;
}
.h-full{
  height: 100%;
}

.p-n{padding: 0px !important;}
.p-a-xs{padding: 5px;}
.p-a-sm{padding: 10px;}
.p-a{padding: 15px;}
.p-a-md{padding: 20px;}
.p-a-lg{padding: 30px;}
.p-a-xl{padding: 50px;}
.p-a-xxl{padding: 70px;}

.p-r-xs{padding-right: 5px;}
.p-r-sm{padding-right: 10px;}
.p-r{padding-right: 15px;}
.p-r-md{padding-right: 20px;}
.p-r-lg{padding-right: 30px;}
.p-r-xl{padding-right: 50px;}
.p-r-xxl{padding-right: 70px;}

.p-l-xs{padding-left: 5px;}
.p-l-sm{padding-left: 10px;}
.p-l{padding-left: 15px;}
.p-l-md{padding-left: 20px;}
.p-l-lg{padding-left: 30px;}
.p-l-xl{padding-left: 50px;}
.p-l-xxl{padding-left: 70px;}

.p-t-xs{padding-top: 5px;}
.p-t-sm{padding-top: 10px;}
.p-t{padding-top: 15px;}
.p-t-md{padding-top: 20px;}
.p-t-lg{padding-top: 30px;}
.p-t-xl{padding-top: 50px;}
.p-t-xxl{padding-top: 70px;}

.p-b-xs{padding-bottom: 5px;}
.p-b-sm{padding-bottom: 10px;}
.p-b{padding-bottom: 15px;}
.p-b-md{padding-bottom: 20px;}
.p-b-lg{padding-bottom: 30px;}
.p-b-xl{padding-bottom: 50px;}
.p-b-xxl{padding-bottom: 70px;}

.m-xs{margin: 5px;}
.m-sm{margin: 10px;}
.m{margin: 15px;}
.m-md{margin: 20px;}
.m-lg{margin: 30px;}
.m-xl{margin: 50px;}
.m-n{margin: 0 !important}
.m-l-none{margin-left: 0 !important}
.m-l-xs{margin-left: 5px;}
.m-l-sm{margin-left: 10px;}
.m-l{margin-left: 15px}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-l-xl{margin-left: 40px;}
.m-l-xxl{margin-left: 50px;}
.m-l-n-xs{margin-left: -5px}
.m-l-n-sm{margin-left: -10px}
.m-l-n{margin-left: -15px}
.m-l-n-md{margin-left: -20px}
.m-l-n-lg{margin-left: -30px}
.m-l-n-xl{margin-left: -40px}
.m-l-n-xxl{margin-left: -50px}
.m-t-none{margin-top:0 !important}
.m-t-xs{margin-top: 5px;}
.m-t-sm{margin-top: 10px;}
.m-t{margin-top: 15px}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-t-xl{margin-top: 40px;}
.m-t-xxl{margin-top: 50px;}
.m-t-n-xs{margin-top: -5px}
.m-t-n-sm{margin-top: -10px}
.m-t-n{margin-top: -15px}
.m-t-n-md{margin-top: -20px}
.m-t-n-lg{margin-top: -30px}
.m-t-n-xl{margin-top: -40px}
.m-t-n-xxl{margin-top: -50px}
.m-r-none{margin-right: 0 !important}
.m-r-xs{margin-right: 5px}
.m-r-sm{margin-right: 10px}
.m-r{margin-right: 15px}
.m-r-md{margin-right: 20px}
.m-r-lg{margin-right: 30px}
.m-r-xl{margin-right: 40px}
.m-r-xxl{margin-right: 50px}
.m-r-n-xs{margin-right: -5px}
.m-r-n-sm{margin-right: -10px}
.m-r-n{margin-right: -15px}
.m-r-n-md{margin-right: -20px}
.m-r-n-lg{margin-right: -30px}
.m-r-n-xl{margin-right: -40px}
.m-r-n-xxl{margin-right: -50px}
.m-b-none{margin-bottom: 0 !important}
.m-b-xs{margin-bottom: 5px;}
.m-b-sm{margin-bottom: 10px;}
.m-b{margin-bottom: 15px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-b-xl{margin-bottom: 40px;}
.m-b-xxl{margin-bottom: 50px;}
.m-b-n-xs{margin-bottom: -5px}
.m-b-n-sm{margin-bottom: -10px}
.m-b-n{margin-bottom: -15px}
.m-b-n-md{margin-bottom: -20px}
.m-b-n-lg{margin-bottom: -30px}
.m-b-n-xl{margin-bottom: -40px}
.m-b-n-xxl{margin-bottom: -50px}

.b-a{border: 1px solid}
.b-t{border-top: 1px solid}
.b-r{border-right: 1px solid}
.b-b{border-bottom: 1px solid}
.b-l{border-left: 1px solid}

.b-light{border-color: @light}
.b-dark{border-color: @dark-grey}

.font-normal{font-weight: normal;}
.font-thin{font-weight: 300;}
.font-bold{font-weight: 700;}

.btn-icon {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: transparent;
    }

}

// sm
@media (min-width: 768px) and (max-width: 991px) {
	.hbox-auto-sm{
		display: block;
		> .col{
			width: auto;
			height: auto;
			display: block;
			&.show{
				display: block !important;
			}
		}

	}
}

// xs
@media (max-width: 767px) {
	.hbox-auto-xs{
		display: block;
		> .col{
			width: auto;
			height: auto;
			display: block;
		}
	}
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.hover {
    overflow-y: hidden !important;
    &:hover
    {
      overflow: visible !important;
      overflow-y: auto !important;
    }
  }
}

.vbox{
	display: table;
	border-spacing:0;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 240px;
	.row-row {
		display: table-row;
		height: 100%;
		.cell {
			position: relative;
			height: 100%;
			width: 100%;
			-webkit-overflow-scrolling:touch;
			overflow: auto;
			.ie & {
				display: table-cell;
			}
			.cell-inner {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}