<div class="p-a-xxl">
    <div class="hbox h-full b-a b-dark">

        <div class="col p-a-xl">
            <div class="text-center">
                <h1>{{ 'create_new_patient_card' | translate }}</h1>
            </div>
            <form name="form" class="form-validation form-horizontal" novalidate unsaved-changes-alert>

                <div class="row m-n">
                    <div class="col-md-6 col-md-offset-3">
                        <h3 class="text-muted font-thin">{{ 'basic_data' | translate }}</h3>

                        <div class="form-group col-lg-12" ng-class="{ 'has-error': (form.firstname.$touched || form.$submitted) && form.firstname.$invalid }">
                            <label class="col-lg-12">{{ 'firstname' | translate }} *</label>

                            <div class="col-lg-12">
                                <input type="text" name="firstname" class="form-control" ng-model="patient.firstname" required>

                                <div class="help-block m-b-n-sm" ng-messages="form.firstname.$error" ng-show="(form.firstname.$touched || form.$submitted)">
                                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{ 'has-error': (form.surname.$touched || form.$submitted) && form.surname.$invalid }">
                            <label class="col-lg-12">{{ 'surname' | translate }} *</label>

                            <div class="col-lg-12">
                                <input type="text" name="surname" class="form-control" ng-model="patient.surname" required>

                                <div class="help-block m-b-n-sm" ng-messages="form.surname.$error" ng-show="(form.surname.$touched || form.$submitted)">
                                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{ 'has-error': (form.personalNumber.$touched || form.$submitted) && form.personalNumber.$invalid }">
                            <label class="col-lg-12">{{ 'personal_number' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="text" name="personalNumber" class="form-control" ng-model="patient.personalNumber">

                                <div class="help-block m-b-n-sm" ng-messages="form.personalNumber.$error" ng-show="(form.personalNumber.$touched || form.$submitted)">
                                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{ 'has-error': (form.dateOfBirth.$touched || form.$submitted) && form.dateOfBirth.$invalid }">
                            <label class="col-lg-12">{{ 'date_of_birth' | translate }} *</label>

                            <div class="col-lg-12">
                                <div class="input-group" ng-init="dateOfBirthPickerOpened = false">
                                    <input type="text" name="dateOfBirth" class="form-control" uib-datepicker-popup="{{'dd.MM.yyyy'}}" ng-model="patient.dateOfBirth"
                                           is-open="dateOfBirthPickerOpened" ng-required="true" datepicker-options="dateOfBirthConfig"/>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="dateOfBirthPickerOpened = true">
                                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="help-block m-b-n-sm" ng-messages="form.dateOfBirth.$error" ng-show="(form.dateOfBirth.$touched || form.$submitted)">
                                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12" ng-class="{ 'has-error': (form.email.$touched || form.$submitted) && form.email.$invalid }">
                            <label class="col-lg-12">{{ 'email' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="email" name="email" class="form-control" ng-model="patient.email">

                                <div class="help-block m-b-n-sm" ng-messages="form.email.$error" ng-show="(form.email.$touched || form.$submitted)">
                                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            <label class="col-lg-12">{{ 'phone' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="text" class="form-control" ng-model="patient.phone">
                            </div>
                        </div>

                        <h3 class="text-muted font-thin">{{ 'address' | translate }}</h3>

                        <div class="form-group col-sm-8">
                            <label class="col-lg-12">{{ 'street' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="text" name="street" class="form-control" ng-model="patient.address.street">
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="col-lg-12">{{ 'houseNumber' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="text" name="houseNumber" class="form-control" ng-model="patient.address.houseNumber">
                            </div>
                        </div>

                        <div class="form-group col-sm-5">
                            <label class="col-lg-12">{{ 'postalCode' | translate }}</label>

                            <div class="col-lg-12">
                                <input type="text" name="postalCode" class="form-control" ng-model="patient.address.postalCode">
                            </div>
                        </div>

                        <div class="form-group col-sm-7">
                            <label class="col-lg-12">{{ 'city' | translate }}</label>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <ui-select class="w-md" name="city" tagging tagging-label="false" search-enabled="true"
                                               ng-model="patient.address.city" theme="bootstrap">
                                        <ui-select-match>{{ patient.address.city }}</ui-select-match>
                                        <ui-select-choices repeat="city in cities | filter: $select.search">
                                            {{ city }}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="input-group-btn" style="min-width: 20px;" ng-if="patient.address.city">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                ng-click="patient.address.city = null;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-lg-12">{{ 'country' | translate }}</label>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <ui-select class="w-xxl" name="country" tagging tagging-label="false" search-enabled="true"
                                               ng-model="patient.address.country" theme="bootstrap">
                                        <ui-select-match>{{ patient.address.country }}</ui-select-match>
                                        <ui-select-choices repeat="country in countries | filter: $select.search">
                                            {{ country }}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="input-group-btn" style="min-width: 20px;" ng-if="patient.address.country">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                ng-click="patient.address.country = null;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="text-muted font-thin">
                            {{ 'representative' | translate }}
                            <button type="button" class="btn btn-default btn-icon" ng-click="toggleRepresentative()">
                                <i class="fa" ng-class="representative.collapsed ? 'fa-caret-down' : 'fa-caret-up'" aria-hidden="true"></i>
                            </button>
                        </h3>

                        <div ng-if="!representative.collapsed">
                            <div class="form-group col-lg-12"
                                 ng-class="{ 'has-error': (form.representative_firstname.$touched || form.$submitted) && form.representative_firstname.$invalid }">
                                <label class="col-lg-12">{{ 'firstname' | translate }} *</label>

                                <div class="col-lg-12">
                                    <input type="text" name="representative_firstname" class="form-control"
                                           ng-model="patient.representative.firstname" required>

                                    <div class="help-block m-b-n-sm" ng-messages="form.representative_firstname.$error"
                                         ng-show="(form.representative_firstname.$touched || form.$submitted)">
                                        <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12"
                                 ng-class="{ 'has-error': (form.representative_surname.$touched || form.$submitted) && form.representative_surname.$invalid }">
                                <label class="col-lg-12">{{ 'surname' | translate }} *</label>

                                <div class="col-lg-12">
                                    <input type="text" name="representative_surname" class="form-control" ng-model="patient.representative.surname"
                                           required>

                                    <div class="help-block m-b-n-sm" ng-messages="form.representative_surname.$error"
                                         ng-show="(form.representative_surname.$touched || form.$submitted)">
                                        <div ng-messages-include="app/common/partials/form_errors.html"></div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="text-muted font-thin">
                                {{ 'address' | translate }}
                                <button type="button" class="btn btn-default btn-icon pull-right" tooltip-placement="left"
                                        uib-tooltip="{{ 'copy_from_patient' | translate }}" ng-click="copyAddressFromPatient(patient)">
                                    <i class="fa fa-copy" aria-hidden="true"></i>
                                </button>
                            </h4>
                            <div class="form-group col-sm-8">
                                <label class="col-lg-12">{{ 'street' | translate }}</label>

                                <div class="col-lg-12">
                                    <input type="text" name="street" class="form-control" ng-model="patient.representative.address.street">
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="col-lg-12">{{ 'houseNumber' | translate }}</label>

                                <div class="col-lg-12">
                                    <input type="text" name="houseNumber" class="form-control" ng-model="patient.representative.address.houseNumber">
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                <label class="col-lg-12">{{ 'postalCode' | translate }}</label>

                                <div class="col-lg-12">
                                    <input type="text" name="postalCode" class="form-control" ng-model="patient.representative.address.postalCode">
                                </div>
                            </div>

                            <div class="form-group col-sm-7">
                                <label class="col-lg-12">{{ 'city' | translate }}</label>

                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <ui-select class="w-md" name="city" tagging tagging-label="false" search-enabled="true"
                                                   ng-model="patient.representative.address.city" theme="bootstrap">
                                            <ui-select-match>{{ patient.representative.address.city }}</ui-select-match>
                                            <ui-select-choices repeat="city in cities | filter: $select.search">
                                                {{ city }}
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="input-group-btn" style="min-width: 20px;" ng-if="patient.representative.address.city">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                    ng-click="patient.representative.address.city = null;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-lg-12">{{ 'country' | translate }}</label>

                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <ui-select class="w-xxl" name="country" tagging tagging-label="false" search-enabled="true"
                                                   ng-model="patient.representative.address.country" theme="bootstrap">
                                            <ui-select-match>{{ patient.representative.address.country }}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | filter: $select.search">
                                                {{ country }}
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="input-group-btn" style="min-width: 20px;" ng-if="patient.representative.address.country">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                    ng-click="patient.representative.address.country = null;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="text-center">
                    <button class="btn btn-default font-bold m-t-lg" type="button"
                            ng-really-message="{{ 'really_create_patient_question' | translate }}"
                            ng-really-click="createPatient(patient, form)">
                        <i class="fa fa-check pull-right"></i> {{ 'submit' | translate }}
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>