<div class="hbox h-full">

    <div class="col w-xl b-r b-dark">
        <div class="vbox">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner scrollable  p-a">
                        <div class="btn-group pull-right" role="group">
                            <button ng-if="state.current.name == 'app.patient_card.examinations' && auth.hasAuthority('READ_WRITE')" type="button"
                                    class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'edit' | translate }}"
                                    ng-click="openModifyPatient(patient)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="text-center m-t-xxl m-b-xxl">
                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>

                            <h2 class="font-bold">{{ patient.firstname + ' ' + patient.surname }}</h2>
                        </div>

                        <div class="hbox b-t b-b b-dark p-a-sm h-auto">
                            <div class="col v-middle b-r b-dark">

                                <div class="hbox">
                                    <div class="col v-middle w-xxxs text-center">
                                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col v-middle p-l-xs p-r-xs">
                                        <small class="font-bold text-ellipsis m-n">
                                            {{ patient.email ? patient.email : ('no_data' | translate) }}
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <div class="col v-middle p-l-sm p-r-sm">

                                <div class="hbox">
                                    <div class="col v-middle w-xxxs text-center">
                                        <i class="fa fa-birthday-cake fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col v-middle p-l-xs p-r-xs">
                                        <strong class="text-ellipsis h4 m-n">{{ patient.dateOfBirth | yearsElapsed
                                            }}</strong>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="hbox b-b b-dark p-a-sm h-auto">
                            <div class="col v-middle b-r b-dark">

                                <div class="hbox">
                                    <div class="col v-middle w-xxxs text-center">
                                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col v-middle p-l-xs p-r-xs">
                                        <small class="text-ellipsis font-bold"
                                               ng-if="patient.address.street || patient.address.houseNumber || patient.address.postalCode || patient.address.city">
                                            {{ (patient.address.street ? patient.address.street : '') + ' ' +
                                            (patient.address.houseNumber ? patient.address.houseNumber : '') }}
                                            <br ng-if="patient.address.street || patient.address.houseNumber"/>
                                            {{ (patient.address.postalCode ? patient.address.postalCode : '') + ' ' +
                                            (patient.address.city ? patient.address.city : '') }}
                                        </small>

                                        <small class="text-ellipsis font-bold"
                                               ng-if="!patient.address.street && !patient.address.houseNumber && !patient.address.postalCode && !patient.address.city">
                                            {{ 'no_data' | translate }}
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <div class="col v-middle p-l-sm p-r-sm">

                                <div class="hbox">
                                    <div class="col v-middle w-xxxs text-center">
                                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col v-middle p-l-xs p-r-xs">
                                        <small class="font-bold text-ellipsis m-n">
                                            {{ patient.phone ? patient.phone : ('no_data' | translate) }}
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="hbox b-b b-dark p-a-sm h-auto">
                            <div class="col v-middle p-l-xxs p-r-sm">

                                <div class="hbox">
                                    <div class="col v-middle w-xxxs text-center">
                                        <i class="fa fa-sort-numeric-desc fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col v-middle p-l-xs p-r-xs">
                                        <small class="font-bold text-ellipsis m-n">
                                            {{ patient.personalNumber ? patient.personalNumber : ('no_data' | translate) }}
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="text-center m-t-xl" ng-if="state.current.name == 'app.patient_card.examinations'">
                            <a ng-if="auth.hasAuthority('READ_WRITE')" class="btn btn-default font-bold" type="button"
                               ui-sref="app.patient_card.create_examination">
                                <i class="fa fa-plus"></i> {{ 'new_examination' | translate }}
                            </a>
                            <a ng-if="auth.hasAuthority('READ_WRITE')" class="btn btn-default font-bold" type="button"
                               ui-sref="app.patient_card.create_correction">
                                <i class="fa fa-plus"></i> {{ 'new_correction' | translate }}
                            </a>
                        </div>

                        <div ng-if="['app.patient_card.create_examination', 'app.patient_card.examination.modify'].indexOf(state.current.name) != -1"
                             class="panel panel-default m-t-md m-l-n-sm m-r-n-sm">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center text-muted">
                                    <i class="fa fa-search" aria-hidden="true"></i> {{ 'preview' | translate }}
                                </h4>
                            </div>
                            <div class="panel-body p-n">
                                <div class="hbox b-b b-dark" ng-if="examinationPreview.basicInformation.visitReason">
                                    <div class="col p-a-xs">
                                        <h5 class="font-bold">{{ 'visit_reason' | translate }}</h5>
                                        <div class="text-muted">
                                            {{ examinationPreview.basicInformation.visitReason }}
                                        </div>
                                    </div>
                                </div>
                                <div class="hbox b-b b-dark" ng-if="examinationPreview.basicInformation.otherAilments">
                                    <div class="col p-a-xs">
                                        <h5 class="font-bold">{{ 'other_ailments' | translate }}</h5>

                                        <div class="text-muted">
                                            {{ examinationPreview.basicInformation.otherAilments }}
                                        </div>
                                    </div>
                                </div>
                                <div class="hbox b-b b-dark" ng-if="examinationPreview.basicInformation.visionCorrectionHistory">
                                    <div class="col p-a-xs">
                                        <h5 class="font-bold">{{ 'vision_correction_history' | translate }}</h5>

                                        <div class="text-muted">
                                            {{ examinationPreview.basicInformation.visionCorrectionHistory }}
                                        </div>
                                    </div>
                                </div>
                                <div class="hbox b-b b-dark" ng-if="examinationPreview.basicInformation.eyeDiseases.length > 0">
                                    <div class="col p-a-xs">
                                        <h5 class="font-bold">{{ 'eye_diseases.name' | translate }}</h5>

                                        <div ng-if="examinationPreview.basicInformation.eyeDiseases.length != 0"
                                             class="hbox b-dark b-b text-center text-muted p-t-sm p-b-sm"
                                             ng-class="$index == 0 ? 'b-t' : '' " ng-repeat="row in examinationPreview.basicInformation.eyeDiseases">
                                            <div class="col b-dark b-r p-l-sm p-r-sm">
                                                {{ EYE_DISEASES.indexOf(row[0]) != -1 ? ('eye_diseases.examples.' + row[0] | translate) : row[0]
                                                }}
                                            </div>
                                            <div class="col p-l-sm p-r-sm">
                                                {{ EYE_DISEASES.indexOf(row[1]) != -1 ? ('eye_diseases.examples.' + row[1] | translate) : row[1]
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hbox b-b b-dark" ng-if="examinationPreview.basicInformation.generalDiseases.length > 0">
                                    <div class="col p-a-xs">
                                        <h5 class="font-bold">{{ 'general_diseases.name' | translate }}</h5>

                                        <div ng-if="examinationPreview.basicInformation.generalDiseases.length != 0"
                                             class="hbox b-dark b-b text-center text-muted p-t-sm p-b-sm"
                                             ng-class="$index == 0 ? 'b-t' : '' "
                                             ng-repeat="row in examinationPreview.basicInformation.generalDiseases">
                                            <div class="col b-dark b-r p-l-sm p-r-sm">
                                                {{ GENERAL_DISEASES.indexOf(row[0]) != -1 ? ('general_diseases.examples.' + row[0] | translate)
                                                : row[0] }}
                                            </div>
                                            <div class="col p-l-sm p-r-sm">
                                                {{ GENERAL_DISEASES.indexOf(row[1]) != -1 ? ('general_diseases.examples.' + row[1] | translate)
                                                : row[1] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group" ng-if="examinationPreview.corrections.length != 0">
                                <h5 class="font-bold p-a-xs text-center">{{ 'correction' | translate }}</h5>
                                <div class="list-group-item p-a-xs" ng-repeat="correction in examinationPreview.corrections">
                                    <h6 class="font-bold text-muted">{{ 'correction_category.values.' + correction.category | translate }}</h6>

                                    <div class="list-group-item-text">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-condensed">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-center">{{ 'sf' | translate }}</th>
                                                    <th class="text-center">{{ 'cyl' | translate }}</th>
                                                    <th class="text-center">{{ 'axis' | translate }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="v-middle text-center font-bold">{{ 'op' | translate }}</td>
                                                    <td class="v-middle text-center">{{ correction.opDesc.sf > 0 ? '+' + (correction.opDesc.sf |
                                                        number:2) : (correction.opDesc.sf | number:2) }}
                                                    </td>
                                                    <td class="v-middle text-center">
                                                        <span ng-if="correction.opDesc.cyl != null">{{ correction.opDesc.cyl > 0 ? '+' + (correction.opDesc.cyl | number:2) : (correction.opDesc.cyl | number:2) }}</span>
                                                    </td>
                                                    <td class="v-middle text-center">{{ correction.opDesc.axis }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="v-middle text-center font-bold">{{ 'ol' | translate }}</td>
                                                    <td class="v-middle text-center">{{ correction.olDesc.sf > 0 ? '+' + (correction.olDesc.sf |
                                                        number:2) : (correction.olDesc.sf | number:2) }}
                                                    </td>
                                                    <td class="v-middle text-center">
                                                        <span ng-if="correction.olDesc.cyl != null">{{ correction.olDesc.cyl > 0 ? '+' + (correction.olDesc.cyl | number:2) : (correction.olDesc.cyl | number:2) }}</span>
                                                    </td>
                                                    <td class="v-middle text-center">{{ correction.olDesc.axis }}</td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <a style="position: fixed; top: 70px; left: 330px; z-index: 1000;"
                class="btn btn-default btn-icon font-bold" type="button" ui-sref="app.patient_card.examinations"
                ui-sref-active-eq="hidden">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'list_of_examinations' | translate }}
        </a>
        <div class="vbox" ui-view></div>
    </div>

</div>
