<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <base th:href="${@environment.getProperty('server.contextPath')}"/>

    <title>Zielonka Optyk</title>

    <link rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/libs/AngularJS-Toaster/toaster.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/libs/angular-ui-select/dist/select.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/libs/ng-tags-input/ng-tags-input.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/libs/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>

</head>
    <body ng-controller="ApplicationCtrl" class="h-full">
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

        <div ng-if="loading" class="hbox h-full modal-backdrop fade in" style="z-index: 1100;">
            <div class="col text-center v-middle">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: white"></i>
            </div>
        </div>

        <div ui-view="" ng-cloak="" class="app ng-cloak"></div>


        <!-- LIBS -->
        <script src="assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="assets/libs/html2canvas/build/html2canvas.min.js"></script>
        <script src="assets/libs/jspdf/dist/jspdf.min.js"></script>
        <script src="assets/libs/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script src="assets/libs/angular/angular.min.js"></script>
        <script src="assets/libs/angular-animate/angular-animate.min.js"></script>
        <script src="assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="assets/libs/angular-resource/angular-resource.min.js"></script>
        <script src="assets/libs/angular-translate/angular-translate.min.js"></script>
        <script src="assets/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="assets/libs/angular-touch/angular-touch.min.js"></script>
        <script src="assets/libs/AngularJS-Toaster/toaster.min.js"></script>
        <script src="assets/libs/angular-messages/angular-messages.min.js"></script>
        <script src="assets/libs/angular-bootstrap-slider/slider.js"></script>
        <script src="assets/libs/angular-ui-select/dist/select.min.js"></script>
        <script src="assets/libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
        <script src="assets/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="assets/libs/ng-tags-input/ng-tags-input.min.js"></script>

        <!-- CONFIG -->
        <script src="app/config/app.js"></script>
        <script src="app/config/constants.js"></script>
        <script src="app/config/config.js"></script>

        <!-- DIRECTIVES -->
        <script src="app/common/directives/match-with.js"></script>
        <script src="app/common/directives/really-click.js"></script>
        <script src="app/common/directives/valid-file.js"></script>
        <script src="app/common/directives/unsaved-changes-alert.js"></script>

        <!-- FILTERS -->
        <script src="app/common/filters/range-decimal.js"></script>
        <script src="app/common/filters/years-elapsed.js"></script>

        <!-- SERVICES -->
        <script src="app/users/service/UserService.js"></script>
        <script src="app/auth/service/AuthService.js"></script>
        <script src="app/address/service/AddressService.js"></script>
        <script src="app/patients/service/PatientService.js"></script>
        <script src="app/examination/service/ExaminationService.js"></script>
        <script src="app/common/service/UtilsService.js"></script>

        <!-- CONTROLLERS -->
        <script src="app/common/ctrl/ApplicationCtrl.js"></script>
        <script src="app/auth/ctrl/AuthCtrl.js"></script>
        <script src="app/auth/ctrl/PasswordResetFinalizeCtrl.js"></script>
        <script src="app/auth/ctrl/RegistrationFinalizeCtrl.js"></script>
        <script src="app/auth/ctrl/AuthModalCtrl.js"></script>
        <script src="app/admin/ctrl/EmployeesCtrl.js"></script>
        <script src="app/admin/ctrl/CreateEmployeeCtrl.js"></script>
        <script src="app/admin/ctrl/ModifyEmployeeCtrl.js"></script>
        <script src="app/patients/ctrl/PatientCreateCtrl.js"></script>
        <script src="app/patients/ctrl/PatientCardCtrl.js"></script>
        <script src="app/patients/ctrl/PatientModifyCtrl.js"></script>
        <script src="app/welcome/ctrl/WelcomeCtrl.js"></script>
        <script src="app/examination/ctrl/ExaminationCreateCtrl.js"></script>
        <script src="app/examination/ctrl/ExaminationModifyCtrl.js"></script>
        <script src="app/examination/ctrl/ExaminationCtrl.js"></script>
        <script src="app/examination/ctrl/PatientExaminationsCtrl.js"></script>
        <script src="app/common/ctrl/SetNumericValueSliderModalCtrl.js"></script>
        <script src="app/examination/ctrl/SetCorrectionBaseValueModalCtrl.js"></script>
        <script src="app/examination/ctrl/CorrectionCreateCtrl.js"></script>
        <script src="app/examination/ctrl/CorrectionModifyCtrl.js"></script>
        <script src="app/examination/ctrl/PrintExaminationPreviewCtrl.js"></script>
        <script src="app/examination/ctrl/AddDocumentModalCtrl.js"></script>

    </body>
</html>
