<div class="hbox h-full">

    <div class="col v-middle text-center">
        <h1 style="font-size:128px" class="font-bold">404</h1>
        <h3 class="text-muted">{{ '404_info' | translate }}</h3>

    </div>

</div>