<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="nav navbar-nav navbar-left">
            <div>
                <a class="navbar-brand" ui-sref="app.welcome">
                    <img class="h-full" ng-src="{{'assets/img/logo.jpg'}}">
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <li class="font-bold">
                    <a>{{ auth.me.firstname + ' ' + auth.me.surname }}</a>
                </li>
                <li class="btn-group" role="group">
                    <a ng-if="auth.hasAuthority('SUPER_USER')" ui-sref="app.admin.employees"
                       class="btn btn-default btn-icon" type="button">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </a>
                    <a ng-click="auth.logout()" type="button" class="btn btn-default btn-icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div ui-view class="h-full"></div>