<div class="text-sm" ng-message="required">{{ 'form.error.field_required' | translate }}</div>
<div class="text-sm" ng-message="email">{{ 'form.error.email_format_required' | translate }}</div>
<div class="text-sm" ng-message="compareTo">{{ 'form.error.password_do_not_match' | translate }}</div>