<div class="p-a">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="p-a">
    <form name="form" class="form-validation form-horizontal" novalidate ng-submit="submit(value)">
        <div class="row m-n">
            <div class="form-group col-lg-12">
                <label class="col-lg-12">{{ value.name }}</label>

                <div class="col-lg-12">
                    <div class="input-group">
                        <div class="input-group-addon w-full">
                            <slider ng-model="value.model" step="value.step" min="value.min" max="value.max"
                                    value="value.initial" tooltip="hide"></slider>
                        </div>
                        <div class="input-group-addon p-a-xs">
                            <a type="button" class="btn btn-default btn-icon btn-sm pull-left" ng-click="value.model = value.model - value.step">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="input-group-addon font-bold" style="min-width: 62px;">
                            {{ value.model != null ? ((value.model && value.model > 0 && (value.name.indexOf('Sf.') != -1 || value.name.indexOf('Cyl.') != -1)) ? '+' : '') + (value.model | number:2) : '' }}
                        </div>
                        <div class="input-group-addon p-a-xs">
                            <a type="button" class="btn btn-default btn-icon btn-sm pull-right" ng-click="value.model = value.model + value.step">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="input-group-btn" style="min-width: 20px;" ng-if="value.model != null">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    ng-click="value.model = null;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default font-bold m-t-sm" type="submit">
                <i class="fa fa-check"></i> {{ 'submit' | translate }}
            </button>
        </div>
    </form>
</div>