<div class="hbox h-full">

    <div class="col">
        <div class="row m-n">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="center-block text-center" style="transition: all 0.3s ease-in-out;"
                     ng-style="{ 'margin-top': patients.content.length > 0 || focused['search'] ? '10px' : '100px' }">

                    <div class="input-group m-b-xs">
                        <input type="text" class="form-control input-lg" placeholder="{{ 'search' | translate }}"
                               ng-model="query" ng-model-options='{ debounce: 300 }'
                               ng-focus="focused['search'] = true" ng-blur="focused['search'] = false"/>

                        <div class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div ng-hide="patients.content.length > 0 || focused['search']">
                        <h3 class="text-muted">{{ (auth.hasAuthority('READ_WRITE') ?
                            'find_patient_card_or_create_new_one': 'find_patient_card') | translate
                            }}</h3>
                        <button ui-sref="app.create_patient" ng-if="auth.hasAuthority('READ_WRITE')" type="button"
                                class="btn btn-default w m-t-md">
                            {{ 'create_new_one' | translate }} <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="list-group">
                    <a class="list-group-item m-xs" ng-repeat="patient in patients.content" ui-sref="app.patient_card.examinations({patientId: patient.patientId})"
                       ng-class="{ 'bg-dark-hover': hovered['patients'][patientId] }" ng-mouseover="hovered['patients'][patientId] = true" ng-mouseleave="hovered['patients'][patientId] = false">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="media-body v-middle">
                                <h4 class="media-heading font-bold">{{ patient.firstname + ' ' + patient.surname }}</h4>

                                <div class="text-muted">
                                    <span ng-if="patient.address.street || patient.address.houseNumber || patient.address.city">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{ (patient.address.street ? patient.address.street : '') + ' ' +
                                            (patient.address.houseNumber ? patient.address.houseNumber : '') + ', ' +
                                            (patient.address.city ? patient.address.city : '') }} |
                                    </span>
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                    {{ patient.dateOfBirth | date:'dd.MM.yyyy'}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="text-center p-a-md">
                    <a ng-if="!patients.last && patients.content.length > 0" class="btn btn-default w" type="button" ng-click="findPatients()">
                        {{ 'more' | translate }}
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>