<div class="p-a-xxl h-full">
    <div class="hbox h-full b-a b-dark">

        <!-- Left side -->
        <div class="col w-md b-r b-dark">
            <ul class="nav nav-stacked">
                <li ui-sref-active="active">
                    <a ui-sref="app.admin.employees">{{ 'employees' | translate }}</a>
                </li>
            </ul>
        </div>

        <!-- Right side -->
        <div class="col">
            <div ui-view class="p-a-lg"></div>
        </div>

    </div>
</div>