<div class="h2 inline m-t-n">{{ 'employees' | translate }}</div>
<div class="btn-group pull-right inline m-t-n" role="group">
    <button type="button" class="btn btn-default" ng-click="openCreateEmployeeModal()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'add' | translate }}
    </button>
</div>

<div class="input-group m-b-xs">
    <input type="text" class="form-control" placeholder="{{ 'search' | translate }}" ng-model="query">
    <div class="input-group-addon">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="text-center">{{ 'surname' | translate }}</th>
        <th class="text-center">{{ 'firstname' | translate }}</th>
        <th class="text-center">{{ 'email' | translate }}</th>
        <th class="text-center">{{ 'status' | translate }}</th>
        <th class="text-center">{{ 'authorities' | translate }}</th>
        <th class="text-center">{{ 'login' | translate }}</th>
        <th class="text-center">{{ 'added' | translate }}</th>
        <th class="text-center">{{ 'operations' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees.content" ng-init="employee.authority = auth.getHighestAuthority(employee.authorities);">
        <td class="v-middle">{{ employee.surname }}</td>
        <td class="v-middle">{{ employee.firstname }}</td>
        <td class="v-middle">{{ employee.email }}</td>
        <td class="v-middle text-center">
            <div class="label p-a-xs" ng-class="{
                'label-success': employee.status == 'ENABLED',
                'label-danger': employee.status == 'DISABLED',
                'label-primary': employee.status == 'NEW',
                'label-warning': employee.status == 'VERIFIED'
                }">
                {{ 'user.status.' + employee.status | translate }}
            </div>
        </td>
        <td class="v-middle text-center">{{ employee.status != 'DISABLED' ? ('user.authority.' + employee.authority | translate) : '-------' }}</td>
        <td class="v-middle">{{ employee.username }}</td>
        <td class="v-middle text-center">{{ employee.created | date:'dd-MM-yyyy'}}</td>
        <td class="v-middle text-center">
            <div class="btn-group btn-group-sm" role="group">
                <button ng-if="employee.status != 'DISABLED'" type="button" class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'edit' | translate }}"
                        ng-click="openModifyEmployeeModal(employee)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button ng-if="employee.status == 'ENABLED' && employee.authority != 'SUPER_USER'" type="button" class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'disable' | translate }}"
                        ng-really-message="{{ 'really_disable_employee_question' | translate }}"
                        ng-really-click="disableEmployee(employee)">
                    <i class="fa fa-ban text-danger" aria-hidden="true"></i>
                </button>
                <button ng-if="employee.status == 'DISABLED'" type="button" class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'reactivate' | translate }}"
                        ng-really-message="{{ 'really_reactivate_employee_question' | translate }}" ng-really-click="reactivateEmployee(employee)">
                    <i class="fa fa-repeat text-success" aria-hidden="true"></i>
                </button>
                <button ng-if="['NEW', 'VERIFIED'].indexOf(employee.status) != -1" type="button" class="btn btn-default btn-icon" tooltip-placement="bottom" uib-tooltip="{{ 'delete' | translate }}"
                        ng-really-message="{{ 'really_delete_employee_question' | translate }}"
                        ng-really-click="deleteEmployee(employee)">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </button>
            </div>
        </td>
    </tr>
    <div infinite-scroll="findUsers()" infinite-scroll-immediate-check="false" infinite-scroll-distance="1" infinite-scroll-disabled="employees.last"></div>
    </tbody>

</table>