<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">{{ 'modify_employee' | translate }}</div>
</div>

<div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate>

        <div class="form-group" ng-class="{ 'has-error': form.username.$touched && form.username.$invalid }">
            <label class="col-lg-12">{{ 'username' | translate }}</label>

            <div class="col-lg-12">
                <p class="form-control-static">{{ employee.username }}</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.firstname.$touched && form.firstname.$invalid }">
            <label class="col-lg-12">{{ 'firstname' | translate }}</label>

            <div class="col-lg-12">
                <input type="text" name="firstname" class="form-control" ng-model="employee.firstname" required>

                <div class="help-block m-b-n-sm" ng-messages="form.firstname.$error" ng-show="form.firstname.$touched">
                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.surname.$touched && form.surname.$invalid }">
            <label class="col-lg-12">{{ 'surname' | translate }}</label>

            <div class="col-lg-12">
                <input type="text" name="surname" class="form-control" ng-model="employee.surname" required>

                <div class="help-block m-b-n-sm" ng-messages="form.surname.$error" ng-show="form.surname.$touched">
                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
            <label class="col-lg-12">{{ 'email' | translate }}</label>

            <div class="col-lg-12">
                <input type="email" name="email" class="form-control" ng-model="employee.email" required>

                <div class="help-block m-b-n-sm" ng-messages="form.email.$error" ng-show="form.email.$touched">
                    <div ng-messages-include="app/common/partials/form_errors.html"></div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="employee.authority != 'SUPER_USER'">
            <label class="col-lg-12">{{ 'authorities' | translate }}</label>

            <div class="col-lg-12">

                <ui-select search-enabled="false" ng-model="employee.authority" theme="bootstrap"
                           on-select="employee.authority = $select.selected['value'];" required>
                    <ui-select-match>{{ 'user.authority.' + employee.authority | translate }}</ui-select-match>
                    <ui-select-choices repeat="(key, value) in AUTHORITY | filter:{ value: '!SUPER_USER' }">
                        {{ 'user.authority.' + value['value'] | translate }}
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default font-bold m-t-lg" ng-disabled="form.$invalid" type="button"
                    ng-really-message="{{ 'really_modify_employee_question' | translate }}"
                    ng-really-click="modifyEmployee(employee)">
                <i class="fa fa-check pull-right"></i> {{ 'submit' | translate }}
            </button>
        </div>
    </form>
</div>